@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0px;
    font-family: 'Poppins','Roboto', sans-serif;
}

input:focus-visible {
    outline: none;
}

:root {
    --primary: #1a202c;
    --secondary: #2d3748;
    --tertiary: #4a5568;
    --text-primary: #2d3748;
    --text-secondary: #4a5568;
    --black: #000;
    --white: #fff;
    --gray-100: #f7fafc;
    --gray-200: #edf2f7;
    --gray-300: #e2e8f0;
}